In [119]:
import pandas as pd
import numpy as np

In [120]:
data_csv = pd.read_csv('winequality-red.csv')

In [121]:
type (data_csv)

pandas.core.frame.DataFrame

In [141]:
data_csv.head()    #head() will display the first five rows

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [142]:
data_csv.tail()      #tail() will display the last five rows

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
1594  6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5
1595  5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...
1596  6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...
1597  5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...
1598  6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...

In [143]:
len(data_csv)     #this data set has a total of 1599 rows

1599

In [144]:
data_csv.shape      #this data  set has 1 column

(1599, 1)

In [145]:
data_csv.info()       #its only 1 column and there non null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 1 columns):
 #   Column                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                   --------------  -----
 0   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"  1599 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

In [140]:
data_csv.describe()    #statistics summary

       fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
count                                                1599
unique                                               1359
top     6.7;0.46;0.24;1.7;0.077;18;34;0.9948;3.39;0.6;...
freq                                                    4

In [115]:
y=data_csv.iloc[0:9].values

In [116]:
print(y)

[['7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5']
 ['7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5']
 ['7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;9.8;5']
 ['11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58;9.8;6']
 ['7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5']
 ['7.4;0.66;0;1.8;0.075;13;40;0.9978;3.51;0.56;9.4;5']
 ['7.9;0.6;0.06;1.6;0.069;15;59;0.9964;3.3;0.46;9.4;5']
 ['7.3;0.65;0;1.2;0.065;15;21;0.9946;3.39;0.47;10;7']
 ['7.8;0.58;0.02;2;0.073;9;18;0.9968;3.36;0.57;9.5;7']]

In [128]:
import seaborn as sns
import matplotlib.pyplot as plt

In [136]:
data_csv.corr()

Empty DataFrame
Columns: []
Index: []

In [129]:
correlations=data_csv.corr()

In [130]:
print (correlations)

Empty DataFrame
Columns: []
Index: []

In [138]:
sns.heatmap(data_csv.corr());

ValueError: zero-size array to reduction operation fmin which has no identity